@{ ViewData["Title"] = "Activity"; }

<div id="activity"></div>
<script src="~/dist/activity.vue.min.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        $("a#navitem-activity").css("color", "#FFF");
    });
</script>
