@{
	ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-xs-12" id="vue-instance">
        <ul>
            <li v-for="(index, item) in items" 
                v-bind:index="index"
                v-bind:key="item.Id">
                {{ item.Id }}. {{ item.Name }} - ${{ item.Description }} <a v-on:click="remove(item, index)">Remove</a>
            </li>
        </ul>

        <h3>Add an item</h3>
        <input type="text" id="name" placeholder="Name" required />
        <input type="text" id="description" placeholder="Description" required  />
        <input type="time" id="interval" placeholder="Interval" required  />

        <button @@click="add" type="button">add</button>
    </div>
</div>