@{ ViewData["Title"] = "Manage"; }

<div id="manage" class="col-md-12"></div>
<script src="~/dist/manage.vue.min.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        $("a#navitem-manage").css("color", "#FFF");
    });
</script>