@{ ViewData["Title"] = "Status"; }

<div id="status" class="col-md-12"></div>
<script src="~/dist/status.vue.min.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        $("a#navitem-status").css("color", "#FFF");
    });
</script>